/* General styling */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    min-height: 100vh;
    color: white;
    font-family: Geneva, sans-serif;
}

ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: inherit;
}

/* Particle canvas */
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: fadeInBody;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

/* First body section */
.greeting {
    background-color: #1c1d25;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    animation-name: fadeInBody;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
}

.greeting h1 {
    font-size: 3rem;
    animation: fadeIn ease-in-out 4s;
    -webkit-animation: fadeIn ease-in-out 4s;
    -moz-animation: fadeIn ease-in-out 4s;
    -o-animation: fadeIn ease-in-out 4s;
    -ms-animation: fadeIn ease-in-out 4s;
}

.greeting h2 {
    animation: fadeIn ease-in-out 6s;
    -webkit-animation: fadeIn ease-in-out 6s;
    -moz-animation: fadeIn ease-in-out 6s;
    -o-animation: fadeIn ease-in-out 6s;
    -ms-animation: fadeIn ease-in-out 6s;
}
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.greeting button, 
.icons img {
    animation: fadeIn ease-in-out 8s;
    -webkit-animation: fadeIn ease-in-out 8s;
    -moz-animation: fadeIn ease-in-out 8s;
    -o-animation: fadeIn ease-in-out 8s;
    -ms-animation: fadeIn ease-in-out 8s;
}

.greeting button {
    font-family: inherit;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    padding: 1em 2em;
    background: linear-gradient(to right, #e66465, #9198e5);
    color: white;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.greeting button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.greeting button span:after {
    content: '\2193';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.greeting button:hover span {
    padding-right: 25px;
}
  
.greeting button:hover span:after {
    opacity: 1;
    right: 0;
}

.icons {
    display: flex;
    gap: 1em;
}

.icons img {
    width: 2em;
    height: auto;
    filter: brightness(75%)
}

.icons img:hover {
    cursor: pointer;
    filter: brightness(150%);
}


/* Nav Bar*/
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2e303d;
    width: 100%;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    padding: 2em;
}

.nav ul {
    display: flex;
    gap: 2em;
    padding-right: 4em;
    color: rgb(200, 198, 198);
    font-weight: bold;
}

.nav ul li:hover {
    color: white;
    cursor: pointer;
}

ul li {
    display: inline-block;
    position: relative;
}
  
ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e66465;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}
  
ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Projects */
#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1d25;
    color: white;
}

/* About Me */
#aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1d25;
    color: white;
}

/* Contact */
#contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #1c1d25;
    color: #f3f3f3;
}

/* Footer */
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e303d;
    text-transform: uppercase;
    gap: 1em;
    padding: 3em;
}

.footer p {
    font-size: 0.8rem;
}

#toTop {
    font-family: inherit;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    padding: 0.25em;
    background: linear-gradient(to bottom, #e66465, #9198e5);
    color: white;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    top: -25px;
}

#toTop:hover {
    top: -30px;
}

.footer-icons {
    display: flex;
    gap: 1em;
}

.footer-icons img {
    width: 2em;
    height: auto;
    filter: brightness(75%)
}

.footer-icons img:hover {
    cursor: pointer;
    filter: brightness(150%);
}